html,body{
  height: 100%;
  width: 100%;
  background-color: #222;
}

.content{
  height: 100%;
  width: 100%;
}

/* state start */
.stage{

  position: relative;
  width: 100%;
  height: 100%;
}
/* state end */

/* img-sec start */
.img-sec {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #ddd;
  perspective: 1800px; /*景深值。值越大，其他改变发生时，效果越小。！！属性无效*/

   @at-root {
        .img-figure {
            position:absolute;
            width: 320px;
            height: 400px;
            margin: 0;
            padding: 40px;
            background-color: #fff;
            box-sizing: border-box;
            img {
                height: 240px;
                width: 240px;

            }
        }
        figcaption{
          text-align:center;
          .img-tittle{
                  margin:20px 0 0 0;
                  color:#a7a0a2;
                  font-size:16px;
                }
        }
    }
}



/* img-sec end */



/*controller start*/

.controller-nav {
  position: absolute;
  left: 0;
  bottom: 30px;
  z-index: 101;  /*10的2次方*/
  text-align: center;
  width:100%;
}

/*controller end*/